// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(big) {
    font-size: 56.25%;
  }
}

img {
  max-width: 100%;
  display: block;
}

a {
  overflow: hidden;
  border-radius: 2rem;
}
