.rodape {
  padding: 4.88rem 2rem;
  &__logo {
    width: 3.7rem;
    height: 3.7rem;
  }
}

.container--rodape {
  @include flex($justify: end, $align: center, $gap: 0.85rem);

  @include respond(small) {
    @include flex($justify: center);
  }

  & a {
    text-decoration: none;
    color: inherit;

    @include respond(small) {
      border-radius: 0;
    }
  }
}
